/* Grid system */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  #main-content .main-content__heading {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
  }
  /* Detail */
  /* grid system */
  .row-x {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-x-x {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 960px) {
  html,
  body {
    font-size: 87.5% !important;
  }
  .row-x {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-x {
    padding-left: 12px;
    padding-right: 12px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .menu {
    display: none;
  }
  #header .header-left {
    background: var(--primary-color);
    height: 40px;
  }
  #header {
    position: relative;
    width: 100%;
  }
  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
  }
  .logo-svg {
    display: none;
  }
  .logo-svg__mobile {
    display: block;
    position: relative;
    left: 0;
    vertical-align: middle;
    width: 100%;
  }
  .logo {
    height: 100%;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: initial;
  }
  #header .header-search form {
    line-height: 30px;
    display: block;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
  }
  #header .header-search {
    position: absolute;
    top: 150%;
    left: 16px;
    right: 16px;
    max-width: 100%;
    min-width: auto;
    opacity: 0;
    visibility: hidden;
  }
  .showsearch .toggle.search {
    opacity: 0.8;
  }
  .showsearch .close-search {
    display: block;
    transition: all 0.3s;
  }
  .showsearch #header .header-search {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
  }
  .showsearch .toggle.search .close-x {
    display: block;
  }
  .btns-login {
    display: none;
  }
  /* .user-info__avt {
    padding: 3px;
  } */
  .user-info__avt i {
    font-size: 24px;
    color: var(--white-color);
  }
  #header .header-search #searchBox {
    display: block;
    height: 40px;
    margin: 0;
    padding: 8px 72px 8px 12px;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
    outline: 0;
    font-size: 1rem;
    width: 100%;
  }
  .showsearch #header .header-search #btns-find {
    background-color: transparent;
    color: var(--text-color);
    height: 40px;
  }
  #header .header-search #btns-find .btns-find__submit {
    display: block;
  }
  #main-content .main-content__thumb {
    width: 160px;
    height: auto;
  }
  #main-content .main-content__left {
    width: 100%;
    margin-right: 0;
  }
  #main-content .main-content__right {
    width: 100%;
  }
  #main-content {
    display: block;
  }
  #main-content__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  #main-content .main-content__left {
    margin-bottom: 20px;
  }
  .main-content__right {
    padding: 0;
  }
  /* Detail */
  #main-content .main-content__detail {
    padding-right: 0;
  }
  /* Ads */
  .ads-list {
    display: none;
  }
  /* Posts */

  /* Responsive sider menu */

  .showmenu .overlay,
  .showsearch .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    z-index: 47;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .showsearch #header {
    z-index: 51;
  }
  .showmenu .footer-top {
    position: relative;
  }
  .showmenu .section-box.footer-top {
    max-width: 100%;
  }
  /* Mobile menu */
  .toggle.menu-mobile {
    left: 16px;
    top: 50%;
    background-color: transparent;
    padding-left: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .user-setting__login {
    display: block;
  }
  .toggle.search {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(-50%, -50%);
    color: #fff;
    display: block;
  }
  #header .header-topnav {
    position: absolute;
    right: 0;
    top: 8px;
    padding-bottom: 0;
    z-index: 99;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* .user-info__avt--mobile {
    padding: 3px;
  } */
  .user-info__avt {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 3px;
  }

  .dropOut:after {
    right: 10px;
  }

  .showmenu #header,
  .showmenu .menu {
    z-index: 0;
    width: 100%;
    position: relative;
    background: transparent;
    margin: 0 auto;
    max-width: 100%;
  }
  .close-search:before,
  .close-search:after {
    height: 18px;
  }
  .showmenu .footer-navbox > ul {
    -moz-columns: auto 167px;
    -webkit-columns: auto 167px;
    columns: auto 167px;
    column-gap: 8px;
    column-fill: auto;
    column-fill: balance;
  }
  .toggle.menu-mobile i.fa-bars {
    display: block;
  }
  .footer-navbox.footer-sidenav {
    position: fixed;
    bottom: 0;
    background: #fff;
    top: 0;
    padding: 8px;
    z-index: 51;
    overflow: auto;
    left: -100%;
  }
  .showmenu .footer-navbox {
    position: fixed;
    left: 0;
    right: 8px;
    top: 0;
    max-width: 500px;
    height: 100%;
    width: 256px;
    background: #fff;
    box-shadow: 0 0 100px #000;
    z-index: 51;
    padding: 0 16px;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
  }
  .showmenu .footer-navbox.footer-sidenav .footer-nav__logo {
    display: block;
  }
  .showmenu .footer-navbox .close-menu {
    display: block;
  }
  /* Services */
  .service .service-item:nth-child(2) {
    margin-top: 0;
  }
  .service-list {
    padding-top: 16px;
  }
  .service-ques__text {
    margin-top: 12px;
  }
  .btns-ques {
    width: 100%;
  }
  .service-contact__action {
    margin-top: 16px;
  }
  .btns-ol.btns-ol__contact {
    padding: 0.625rem 1rem;
    width: 100%;
  }

  .service-faq__wrap {
    margin-top: 16px;
  }
  .service-faq__img {
    margin-bottom: 16px;
  }
  .main-content__article-wrap {
    padding: 12px 12px 12px 0;
  }

  .user-info__name {
    display: none;
  }
  .change-password {
    width: 100%;
  }
  .main-nav__sup-list li.active > a {
    color: var(--primary-color);
  }
  /* Table */

  table.table-box {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  .table-box thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-box tr {
    border: 1px solid var(--gray-300);
  }
  .table-box td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    padding-left: 50%;
  }

  .table-box td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .row-x {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col-x {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main-content__first-many {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .main-content__first-one {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
  /* Posts */

  /* Profile */
  .form-profile form {
    flex-direction: column;
  }
  .profile-avt,
  .profile-info {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .prolfile-change__pass {
    margin-bottom: 20px;
  }
  .header-sup {
    position: unset;
  }
  .section-wrapper {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);
  }
  .header-sup__icon i {
    color: var(--gray-400);
    font-size: 1.5rem;
  }
  .header-sup__logo {
    width: 100%;
    background-position: center center;
  }
  .header-sup .header-sup__wrap {
    padding: 5px 16px;
  }
  .header-sup__icon {
    display: block;
    cursor: pointer;
    color: #fff;
  }
  .header-sup .menu-sup {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 256px;
    height: 100%;
    background: #fff;
    transition: all 0.5s;
    left: -260px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .showmenu .header-sup .menu-sup {
    left: 0;
  }
  .header-sup .main-nav__sup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
  }
  .header-sup .main-nav__sup-list li {
    width: 100%;
    display: block;
    position: relative;
    border-bottom: 1px solid #e5e7eb;
    padding: 16px;
    line-height: 1.5;
  }

  .showmenu .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    z-index: 47;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .header-sup__icon i.close-x {
    top: 16px;
    right: 20px;
  }
  .section-box__sup {
    padding: 2rem 16px;
  }
  .footer-sup__wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
  .footer-sup__list {
    padding: 12px 0;
  }
  .footer-sup__cop {
    font-weight: 600;
  }
  .service-about {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .row-x {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  .col-x {
    padding-left: 0;
    padding-right: 0;
  }

  .c-0 {
    display: none;
  }

  .c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .c-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .c-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .c-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .c-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #main-content__article {
    display: block;
  }

  #main-content .main-content__text {
    padding: 0;
  }
  #main-content .main-content__desc {
    margin: 12px 0 12px;
  }
  /* Detail */
  #main-content .main-content__cards-item {
    width: 100%;
  }
  #main-content .main-content__cards-item {
    margin: 0;
  }
  #main-content .main-content__detail .detail-breadcrumbs {
    background: none;
    text-indent: 0;
  }
  #main-content .main-content__item-wrap {
    flex-direction: column;
  }
  #main-content .main-content__item-img,
  #main-content .main-content__item-text {
    max-width: 100%;
    flex: 1;
  }
  #main-content .main-content__item-text {
    padding: 12px 0 0;
  }
  .list-style-2 .post-thumb .img-hover-slide {
    min-height: 200px;
  }
  .main-content__first-many {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main-content__first-one {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }
  /* Detail */
  .social-wrap__item-media--share {
    display: none;
  }
  .main-content__detail-wrap .detail-wrap__info-img {
    width: 32px;
    height: 32px;
  }
  .hidden-600 {
    display: none;
  }
  .footer__media-socials {
    flex-direction: column;
    align-items: flex-end;
  }
  /* Posts */
  .posts-main__item-wrap {
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color);
  }
  .posts-main__item-wrap:last-child {
    padding: 12px 0;
    border-bottom: 0;
  }
  .posts-main__item {
    display: flex;
    box-shadow: none;
  }
  .posts-main__item-thumb {
    width: 115px;
    height: 100%;
  }
  .posts-main__title {
    margin-bottom: 8px;
  }
  .posts-main__content {
    width: calc(100% - 115px);
    padding: 0 12px 0 12px;
  }
  .posts-main__bottom .posts-main__date {
    font-size: 0.875rem;
  }
  .posts-main__bottom {
    align-items: center;
    padding: 0;
  }
  .posts-main__desc {
    display: none !important;
  }
  .posts-main__list {
    display: block;
  }
  .post-action {
    justify-content: center;
  }
  .list-posts,
  .create-post {
    padding: 16px;
  }
  .profile-action {
    text-align: center;
  }
  .profile-action .btns-save__info {
    width: 100%;
  }
  .group-input__wrap {
    flex-direction: column;
  }
  .profile-radio__list {
    top: 0;
  }
  .group-input__sex {
    margin-left: 0;
  }
  .group-input__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-posts,
  .create-post,
  .profile {
    border-radius: 0;
    padding: 16px;
  }
  .group-input__cmnd {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .main-content__article-wrap {
    padding: 12px 0;
  }
  .login {
    padding: 0 16px;
    padding-bottom: 16px;
    margin-top: 30px;
  }
  .post-action {
    flex-direction: column-reverse;
  }
  .btns-cancel {
    margin-right: 0;
    margin-top: 12px;
  }
  .btns-submit,
  .btns-about,
  .btns-cancel {
    width: 100%;
  }
  .confirm-info__email {
    display: block;
    margin-top: 4px;
  }
  .post-content-overlay {
    margin: 16px;
  }
  .main-content__first-one .post-content-overlay .post-time {
    font-size: 0.875rem;
  }
  .main-content__first-one .post-content-overlay .post-title {
    font-size: 1.3rem;
  }
  .sign-in-modal .inner--sign-in-modal {
    min-width: auto;
    width: 90%;
  }
  .login-social__item .social-item__icon {
    width: 36px;
    height: 36px;
  }
  .login-social__item .zalo-auth::after {
    left: 10px;
    top: 10px;
  }
}
