/* Header */
#main {
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 3px;
  background: #fff;
  /* min-height: 1000px; */
  overflow: hidden;
}
/* Frame box */
.section-box {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  display: block;
}
#header {
  position: relative;
  padding: 0;
}

#header .header-topnav {
  position: absolute;
  right: 20px;
  top: 16px;
  padding-bottom: 13px;
  z-index: 99;
}
#header .header-left {
  border-bottom: 1px solid #e5e7eb;
}
.logo-wrap {
  height: 60px;
  line-height: 60px;
}
.logo-svg {
  position: relative;
  left: 16px;
  vertical-align: middle;
  width: 100%;
}
.logo {
  height: 100%;
  width: 104px;
  display: block;
  /* background: url('images/logo.png') no-repeat center center; */
  /* overflow: hidden; */
  color: initial;
  /* text-indent: -300px; */
}
.logo-svg__mobile {
  height: 32px;
  display: none;
}
#header .header-search {
  position: absolute;
  top: 16px;
  left: 230px;
  max-width: 580px;
  min-width: 280px;
  right: 0;
}
#header .header-search form {
  line-height: 30px;
  display: block;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  /* padding-right: 48px; */
}
#header .header-search #searchBox {
  display: block;
  height: 32px;
  margin: 0;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  border-radius: 3px 0 0 3px;
  outline: 0;
  font-size: 1rem;
  width: 100%;
}
#header .header-search #btns-find {
  height: 32px;
  width: 48px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  /* background: var(--primary-color) url('images/search.png') no-repeat center;
  color: #fff;
  text-indent: -100px; */
  cursor: pointer;
  display: block;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}
/* Menu */
.menu {
  line-height: 38px;
  border-bottom: 2px solid var(--primary-color);
  height: 38px;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

.menu ul#topnav {
  display: flex;
  align-items: center;
}
.menu #topnav li {
  display: block;
  position: relative;
}
.menu #topnav li.menu-home {
  padding-left: 16px;
}
.menu #topnav li.menu-home a img {
  display: inline-block;
}
.menu #topnav li.item > a {
  padding: 0 8px;
  font-size: 0.875rem;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
.menu #topnav li.menu-home a {
  padding: 0;
}

.menu #topnav .menu-home {
  padding-left: 0;
}
.menu #topnav li.item img {
  height: 24px;
  display: none;
  width: 24px;
  vertical-align: middle;
}
.menu #topnav li.item:hover > a {
  transition: all 0.2s ease;
  color: var(--red-hover);
}

.menu #topnav.menu-navigation li.active > a {
  color: var(--red-hover);
}
/* Section main content */
#main-content {
  display: flex;
  position: relative;
}
#main-content .main-content__left {
  width: calc(100% - 336px);
  margin-right: 16px;
}
#main-content .main-content__right {
  width: 336px;
}
/*  */
.list-style-2 .post-thumb .img-hover-slide {
  min-height: 180px;
}
#main-content .main-content__item-wrap {
  display: flex;
  flex-wrap: wrap;
}
.main-content__post .main-content__item {
  padding: 12px 0;
  border-bottom: 1px solid #e5e7eb;
}
.main-content__post .main-content__item:first-child {
  padding-top: 0;
}
.main-content__post .main-content__item:last-child {
  border-bottom: 0px solid #e5e7eb;
}
#main-content .main-content__item-img {
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.main-content__img,
.main-content__article-item__img,
.main-content__first-many-img,
.posts-main__item-img {
  display: block;
  position: relative;
  padding-bottom: 62.5%;
}
.main-content__cards-wrap {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
.main-content__cards-wrap:before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 0.25rem;
  width: 100%;
  background-color: var(--secondary-color);
}

.main-content__img-box,
.main-content__article-item__box,
.main-content__first-many-box,
.main-content__first-one__box,
.main-content__cards-img,
.posts-main__item-box {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
}
.main-content__img-box img,
.main-content__article-item__box img,
.main-content__first-many-box img,
.main-content__first-one__box img,
.main-content__cards-img img,
.posts-main__item-box img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

#main-content .main-content__item-text {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 16px;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.post-thumb {
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.img-hover-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 280px;
  overflow: hidden;
}
.post-thumb:hover .img-hover-slide {
  transition: all 0.4s ease-in-out;
  transform: scale(1.08);
}
#main-content .main-content__item-cate a {
  background-color: #e5e7eb;
  padding: 4px 16px;
  border-radius: 2px;
  font-weight: 500;
  color: #09815c;
}
#main-content .main-content__item-title {
  margin-bottom: 8px;
  display: block;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
  -webkit-line-clamp: 3;
}
#main-content .main-content__item-title a {
  display: block;
}
#main-content .main-content__item-title:hover a {
  transition: all 0.2s ease;
  color: var(--red-hover);
}
#main-content .main-content__footer-author {
  display: flex;
  align-items: center;
}
#main-content .main-content__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}
#main-content .main-content__footer-img {
  width: 24px;
  height: 24px;
}
#main-content .main-content__footer-name {
  margin-left: 6px;
  font-size: 0.875rem;
}
#main-content .main-content__footer-name:hover {
  transition: all 0.2s ease;
  color: #111827;
}
#main-content .main-content__desc {
  margin: 12px 0;
  font-size: 0.875rem;
  line-height: 1.5;

  -webkit-line-clamp: 2;
  color: var(--text-color);
}

#main-content .main-content__text {
  padding-left: 16px;
  padding-right: 16px;
}
#main-content .main-content__footer-time {
  font-size: 0.75rem;
}

/* Main content heading */
.content-heading .main-content__title {
  margin: 0;
  border-color: var(--primary-color);
  font-weight: 600;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: 1.2rem;
}
.content-heading .main-content__title:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0.15em;
  height: 0.25rem;
  width: 100%;
  background-color: var(--secondary-color);
}

.main-content__article-wrap {
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 0;
  list-style: none;
}
.main-content__article-wrap:last-child {
  border-bottom: 0px solid #e5e7eb;
}

#main-content__article .main-content__article-item {
  display: flex;
}
#main-content__article .main-content__article-img {
  /* display: flex; */
  margin-right: 12px;
  overflow: hidden;
}
#main-content__article .main-content__article-thumb {
  width: 115px;
  height: 100%;
  transition: all 0.4s ease;
}
#main-content__article .main-content__article-text {
  width: calc(100% - 115px);
}
#main-content__article .main-content__article-text-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}
#main-content__article .main-content__article-text-title a {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
#main-content__article .main-content__article-text-time > span {
  font-size: 0.75rem;
  line-height: 1.3;
  font-weight: 400;
}
#main-content__article .main-content__article-text-title:hover a {
  color: var(--red-hover);
  transition: all 0.2s ease;
}

/* Footer */
#footer {
  border-top: 2px solid var(--primary-color);
  background: #f5f5f5;

  margin: 0 auto;
}
#footer .footer-wrap {
  padding: 0 16px;
}
#footer .footer-wrap .footer-navigation {
  columns: auto 220px;
  column-gap: 56px;
  margin-top: 16px;
  padding-bottom: 16px;
}
#footer .footer-wrap .footer-navigation li {
  list-style: none;
}
.footer-navbox li a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 32px;
  white-space: nowrap;
}

.footer-navbox li a:hover {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
.category-x {
  font-weight: 700;
}
#footer .footer-bottom {
  padding: 16px;
  background: #f1f1f1;
  border-top: 1px solid var(--primary-color);
}
#footer .footer-bottom .info-company .info-company__links a:hover {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
#footer .footer-bottom .info-company,
#footer .footer-bottom .copyright {
  font-size: 0.75rem;
  line-height: 1.5;
}

/* Detail articles */
/* #main-content {
  padding-top: 0;
} */
#main-content .main-content__detail {
  padding-right: 16px;
}
#main-content .main-content__detail .main-content__detail-title {
  font-size: 1.6rem;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 12px;
}
.detail-breadcrumbs {
  line-height: 30px;
  border: 1px solid #e5e7eb;
  border-width: 1px 0;
  /* text-indent: 28px; */
  font-size: 0.875rem;
  /* background: url('images/favicon.svg') no-repeat 0 center; */
}
.detail-breadcrumbs__favicon {
  width: 48px;
  height: 24px;
  vertical-align: middle;
}
.info-detail span::after {
  content: '';
  width: 0;
  display: inline-block;
  max-height: 12px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #00000040;
}
.info-detail span a {
  padding: 0 8px;
}
.info-detail span a:hover {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
.info-detail span:first-child::after {
  content: none;
}
.info-detail span:last-child::after {
  content: none;
}
#main-content .main-content__detail-author {
  margin-top: 16px;
}
#main-content .main-content__detail-author--wrap {
  display: flex;
  align-items: center;
}

#main-content .main-content__detail-author--wrap .main-content__detail-name {
  margin-left: 6px;
  font-size: 0.875rem;
}
#main-content .main-content__detail-author--wrap .main-content__detail-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
#main-content
  .main-content__detail-author--wrap
  .main-content__detail-name:hover {
  transition: all 0.2s ease;
  color: #111827;
}
#main-content .main-content__detail-desc {
  margin: 16px 0;
  font-size: 1rem;
  line-height: 1.5;
}
/* Related link top news */
.main-content__news .main-content__news-list span {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}
.main-content__news .main-content__news-list {
  background-color: #dbedf9;
  padding: 8px 12px;
  border-radius: 4px;
}
.main-content__news .main-content__news-list li {
  list-style: disc;
  margin-left: 16px;
  padding: 4px 0;
}
.main-content__news .main-content__news-list li a {
  color: #039;
}
.main-content__news .main-content__news-list li:hover a {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
.main-content__related {
  margin: 20px 0;
}

.main-content__cards {
  margin: 12px 0;
}
#main-content .main-content__cards-item {
  height: auto;
  display: block;
  overflow: hidden;
  padding-bottom: 12px;
}

#main-content .main-content__cards-title {
  margin-top: 8px;
  -webkit-line-clamp: 3;
}
#main-content .main-content__cards-title a {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}
#main-content .main-content__cards-title:hover a {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
/* First */
.main-content__first {
  padding: 16px 0 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.main-content__first-one {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding-right: 16px;
}
.main-content__first-many {
  position: relative;
  width: 100%;
  min-height: 1px;
  /* padding: 16px 16px 0 16px; */
  padding-right: 16px;
  margin-bottom: 16px;
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
}

.main-content__first-one .main-content__first-one__img {
  position: relative;
  display: block;
  padding-bottom: 59%;
}
.main-content__first-many-img:before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 0.25rem;
  width: 100%;
  background-color: var(--secondary-color);
}

.main-content__first-one .thumb-overlay::before,
.main-content__first-many--card .thumb-overlay::before {
  content: '';
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
  opacity: 0.8;
}
.post-thumb:hover .img-hover-slides {
  background-position: 30%;
  transition: all 0.4s ease;
}

.main-content__first .post-content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transition-duration: 0.2s;
  color: var(--white-color);
  z-index: 6;
}
.post-content-overlay {
  margin: 30px;
}
.main-content__first-many--card {
  border: 1px solid #e5e7eb;
  z-index: 12;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  position: relative;
  background: #fff;
}

.main-content__first-many--card .thumb-overlay {
  min-height: 220px;
  border-radius: 10px 10px 0 0;
}
.main-content__first-many-card-text {
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 16px;
}

.main-content__first-many-card-text .post-card-content .post-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
  -webkit-line-clamp: 3;
}
.main-content__first-many-card-text .post-card-content .post-title a:hover {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
.main-content__first-many-card-text .post-card-content .post-desc {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 12px;
  -webkit-line-clamp: 2;
}
.main-content__first-many-card-text .post-card-content .post-time {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 12px;
  text-align: right;
}
.main-content__first-one .post-content-overlay .post-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 12px;
  -webkit-line-clamp: 3;
}
.main-content__first-one .post-content-overlay .post-time {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 12px;
}

.main-content__detail-wrap .detail-wrap__info-content {
  display: flex;
  align-items: flex-start;
}
.main-content__detail-wrap .detail-wrap__info-avt {
  margin-right: 12px;
}
.main-content__detail-wrap .detail-wrap__info-name {
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 2px;
  color: #444;
}
.main-content__detail-wrap .detail-wrap__info-img {
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
}
.main-content__detail-wrap .detail-wrap__info-text .info-text__share {
  font-size: 0.75rem;
  font-weight: 400;
}
.main-content__detail-wrap .detail-wrap__info-text .info-text__date {
  padding-top: 2px;
  font-size: 0.75rem;
  font-weight: 400;
}
.detail-wrap__socials .social-wrap__list {
  display: block;
  margin-left: auto;
}
.detail-wrap__socials {
  text-align: right;
}
.footer__media-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-wrap__item-view {
  font-size: 0.875rem;
}
.social-wrap__item-count {
  margin-left: 5px;
  font-size: 1rem;
}
.social-wrap__item-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social-wrap__item-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social-wrap__item-media--share {
  font-size: 0.875rem;
  font-weight: 500;
}
/* Socials media */
.social-wrap__item-share {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.social-wrap__item-share .social-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.social-wrap__item-share .fb-share {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #1093f4;
  position: relative;
}
.social-wrap__item-share .bmark-share {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #bd091d;
  position: relative;
}
.social-wrap__item-share .zalo-share {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #48bbf7;
  position: absolute;
}
.social-wrap__item-share .zalo-share::after {
  content: ' ';
  background: url('../images/zalo.png') no-repeat;
  width: 16px;
  height: 14px;
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
}
.view-rating__heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-top: 8px;
}
.view-article {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.rating-heading .rating .fa {
  font-size: 1.2rem;
  margin: 0 2px;
  color: #ffd700;
}
.footer__media-share {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 16px;
}
/* Comment */

.discuss-count h5 {
  font-size: 1rem;
  font-weight: 700;
}
.discuss-sort {
  display: flex;
  align-items: center;
}
.discuss-sort span {
  font-size: 0.875rem;
  margin-right: 4px;
}
.discuss-sort .discuss-custom {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 0.875rem;
  background: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  padding: 3px 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}
.discuss-sort select option {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.discuss-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 0;
}
.discuss-bottom {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0;
}
.discuss-bottom .icon-comment {
  margin-right: 16px;
}
.discuss-bottom .icon-comment img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.discuss-bottom .write-comment {
  width: 100%;
}
.discuss-bottom .write-comment .box-comment {
  border-radius: 6px;
  background-color: #fff;
  resize: none;
  border: 1px solid #ddd;
  padding: 16px 12px;
}

/* .btns {
  display: block;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 10px 32px;
  height: 40px;
  min-width: 20%;
  border-radius: 30px;
  color: #fff;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
  background: var(--primary-color);
  cursor: pointer;
  transition: all 300ms linear 0s;
  margin-top: 12px;
} */
.btns-authen {
  width: 100%;
}
.btns-login {
  height: 32px;
  padding: 0;
}
.btns-actions {
  text-align: right;
  margin-top: 8px;
}

/* Comment show list */
.discuss-show {
  margin: 16px 0;
}
.discuss-show__list .show__list-item {
  display: flex;
  padding-bottom: 12px;
}
.discuss-show__list .show__list-item-img {
  margin-right: 8px;
  height: 32px;
  width: 32px;
  object-fit: cover;
  border: 1px solid #fff;
}
.discuss-item__content {
  flex: 1;
}
.item__content-box {
  padding: 8px 12px;
  background-color: #f0f2f5;
  border-radius: 12px;
  width: fit-content;
}
.item__content-box .content-box__name {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.item__content-box .content-box__mess {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
}
.discuss-reply {
  margin-top: 12px;
}
.discuss-action {
  display: block;
  margin-top: 4px;
  font-size: 0.75rem;
}
.discuss-action .discuss-action__like,
.discuss-action .discuss-action__reply {
  color: #65676b;
  font-weight: 400;
  cursor: pointer;
}

.discuss-action .discuss-action__date {
  color: #7b7c7e;
  font-weight: 400;
}
.discuss-action .icon-like {
  margin-left: 3px;
  background: url('images/icon-like.png') no-repeat;
  width: 14px;
  height: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  display: inline-block;
  vertical-align: text-top;
}
.like-active {
  color: #2078f4 !important;
}

/* Search */
.notify-results {
  border-bottom: 1px solid var(--border-color);
}
.results-name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.results-desc .results-count,
.results-desc .results-keyword {
  font-weight: 700;
}
/* Ads */
.ads-list {
  position: relative;
  margin: 16px 0;
}
/* Category */
.main-content__post--res {
  padding: 16px 0;
}
.category-list {
  right: auto;
  column-width: 220px;
  column-gap: 0;
  column-fill: balance;
  column-fill: auto;
  top: 0;
  padding: 12px 0 16px;
  border-bottom: 1px solid #e5e7eb;
}
.category-list .category-list__item a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px 0 4px 0;
  text-decoration: none;
  overflow: hidden;
  line-height: 26px;
  position: relative;
}
.category-list .category-list__item {
  list-style: none;
}
.category-list .category-list__item a:hover {
  color: var(--red-hover);
  transition: all 0.2s ease;
}
.category-list .category-list__item-img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  max-height: 24px;
  vertical-align: bottom;
  position: relative;
  left: 0;
  display: inline-block;
}
.detail-footer {
  padding: 16px 0;
}
/* Header show all item */
.menu #topnav li.all-menu {
  position: absolute;
  right: 0;
  padding-right: 16px;
  cursor: pointer;
}
.menu #topnav li.all-menu i.fa-bars {
  font-size: 1.25rem;
}
.menu #topnav li.all-menu i.close-x {
  display: none;
}
.showmenu .menu #topnav li.all-menu i.fa-bars {
  transition: all 0.3s ease;
  display: none;
}
.showmenu .menu #topnav li.all-menu i.close-x {
  transition: all 0.3s ease;
  display: block;
  font-size: 1.25rem;
  top: -10px;
  right: 16px;
}
.showmenu #header {
  z-index: 999;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1080px;
}
.showmenu .menu {
  z-index: 99;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1080px;
}
.showmenu .menu {
  top: 61px;
}
.showmenu .footer-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 99px;
  max-height: calc(100vh - 90px);
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  background: #fff;
  border-top: 0;
  z-index: 99;
  padding: 0 24px;
  max-width: 1000px;
}

.showmenu .section-box.footer-top {
  max-width: 1080px;
}
.showmenu .footer-wrap .footer-navigation {
  margin-bottom: 48px;
  margin-top: 24px;
  border-bottom: 0;
}
.showmenu #footer .footer-wrap .footer-navigation {
  column-gap: 16px;
}

.footer-sidenav .footer-navigation li img {
  display: none;
}
.showmenu #footer .footer-navigation .parentitems {
  font-weight: bold;
  padding-left: 40px;
}
/* 
#footer .footer-navigation li a {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
} */

.footer-wrap .footer-navigation .parentitems {
  font-weight: bold;
  text-decoration: none;
}
.showmenu .footer-navbox li a {
  border-top: 1px solid #e5e7eb;
  min-height: 38px;
  font-size: 0.875rem;
  line-height: 38px;
}
.showmenu .footer-wrap .footer-navigation li img {
  display: block;
}
.footer-navbox li a img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  left: 0;
}
.showmenu .footer-navbox.footer-sidenav > ul > li > ul > li > a {
  padding-left: 44px;
  white-space: nowrap;
  padding-right: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54);
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  content: ' ';
  z-index: 50;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
} */

/* Mobile menu */
.footer-navbox.footer-sidenav .footer-nav__logo {
  display: none;
}
.footer-navbox .close-menu {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  font-size: 2rem;
  outline: none;
  border: 0;
}
.toggle.menu-mobile i.fa-bars {
  color: var(--white-color);
  font-size: 20px;
  display: none;
}
#header .header-search #btns-find .btns-find__submit {
  font-size: 18px;
}
.toggle.search {
  font-size: 20px;
  display: none;
}
.footer-navbox .footer-nav__logo {
  height: 46px;
  width: 100%;
  margin: 32px auto 0;
  /* display: block;
  background: url('../images/logo.png') no-repeat center;
  overflow: hidden;
  background-size: auto 48px; */
  /* text-indent: -300px; */
}

/* Services */
.service-list {
  padding-top: 24px;
}
/* .service .service-list,
.service-benf__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
} */
.service .service-item,
.service-benf__item {
  padding-bottom: 12px;
  list-style: none;
}
.service .service-item:nth-child(2) {
  margin-top: -16px;
}
.service .service-item:nth-child(2) .service-item__wrap {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #ef4444;
}
.service .service-item__wrap {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e5e7eb;

  /* margin: 0 12px;s */
}
.service .service-item__header {
  background-color: #2563eb;
}

.service .service-item:nth-child(2) .service-item__header {
  background-color: var(--red-hover);
}
.service .service-item__header-content {
  padding: 20px;
  text-align: center;
}
.service .service-item__header-content .service-item__header-content-title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.service .service-item__header-content .service-item__header-content-desc {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}

.service .service-item__body-content {
  padding: 16px 30px;
  text-align: center;
}
.service-item__body-d {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.service .service-item:nth-child(2) .service-item__body-d {
  color: var(--red-hover);
}
.service .service-item:nth-child(2) .service-item__body-price {
  color: var(--red-hover);
}
.service-item__body-price {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.service-item__body-unit {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  line-height: 1.2;
}
.service-item__body-list {
  margin-top: 16px;
}
.service-body__item {
  padding: 8px 0;
  border-bottom: 1px solid #e5e7eb;
  list-style: none;
}
.service-body__item:last-child {
  border-bottom: 0px solid #e5e7eb;
}
.btns-service {
  height: 40px;
  width: 100%;
}
.service .service-item:nth-child(2) .btns-service {
  background-color: var(--red-hover);
  height: 40px;
  width: 100%;
}
.service-body-free {
  margin-top: 8px;
}
.service-pattern {
  padding: 48px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23a0aec0' fill-opacity='0.1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
.service-ques,
.service-pro {
  padding: 0 16px;
}
.service-about {
  /* margin-top: 60px; */
}
.service-about__wrap {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}
.service-about__title {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);
  font-weight: 700;
}
.service-about__desc {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--gray-300);
  font-weight: 400;
  margin-top: 8px;
}
.btns-ol__about {
  font-weight: 600;
  margin-top: 16px;
}
/* service ques */
.service-ques__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.service-ques__img img {
  width: 60%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.service-ques__title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 32px 0;
}

.service-ques__desc {
  padding-bottom: 12px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}
.service-ques__title-imp {
  color: var(--primary-color);
}
/* Serives-benf */
.service-benf {
  padding: 48px 0;
  background-color: var(--bg-200);
}
.service-benf__main {
  padding: 0 16px;
}
.service-benf__wrap {
  background-color: var(--white-color);
  padding: 24px;
  border-radius: 12px;
  border-top: 3px solid var(--primary-color);
  box-shadow: 0px 0px 10px 0px rgb(22 28 45 / 5%);
}
.service-benf__icon {
  margin-bottom: 12px;
}
.service-benf__icon img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin: 0 auto;
}
.service-benf__content-title {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
.service-benf-divider {
  height: 2px;
  width: 15%;
  margin: 8px auto;
  background-color: var(--gray-400);
}
.service-benf__content-desc {
  line-height: 1.5;
  text-align: center;
}

/* support */
#main-sup {
  margin: 0 auto;
  border-radius: 3px;
  background: #fff;
  position: relative;
  /* overflow: hidden; */
}
.footer-sup {
  border-top: solid 2px var(--primary-color);
  line-height: 40px;
  padding: 0 16px;
  background: #f5f5f5;
}
.footer-sup__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-sup__list a,
.footer-sup__cop {
  padding: 0 6px;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

.header-sup {
  background: var(--white-color);
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: solid 1px #ccc;
  width: 100%;
}

.header-sup__wrap {
  position: relative;
}

.header-sup .header-sup__wrap {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
}
.header-sup__icon {
  display: none;
}
.header-sup__logo {
  width: 20%;
  display: block;
  background: url('images/logo.png') no-repeat;
  background-size: contain;
  height: 40px;
}
.header-logo {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  line-height: inherit;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 0;
}
.main-nav__sup-list {
  list-style: none;
}
.main-nav__sup-list li.active {
  border-bottom: 2px solid var(--primary-color);
}
.main-nav__sup-home {
  display: none;
}
.main-nav__sup-list li {
  display: inline-block;
  padding: 18px 12px;
}
.section-box__sup {
  padding: 2rem;
}

table.table-box {
  width: 100%;
  border-collapse: collapse;
  margin: 16px auto;
}

/* Zebra striping */
.table-box tr:nth-of-type(odd) {
  background: var(--gray-100);
}

.table-box th {
  background: var(--primary-color);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid var(--border-color);
  font-size: 1rem;
}
.service-ads__content {
  margin: 16px 0;
}
.service-ads__content .service-ads__heading {
  font-size: 1.2rem;
  color: var(--red-hover);
  line-height: 1.5;
  text-transform: uppercase;
}
.service-ads__list,
.service-ads__post-list {
  padding: 12px 24px 0;
}
.service-ads__post-heading {
  margin-top: 16px;
  font-size: 1.2rem;
  text-decoration: underline;
}
.service-ads__item,
.service-ads__post-item {
  padding-bottom: 4px;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
}
.table-box td {
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

/* Check login */
.user-info {
  display: flex;
  align-items: center;
}
.user-info__avt {
  margin-right: 8px;
  width: 32px;
  height: 32px;
}
.user-info__name {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
}
.showuser .drop-wrap {
  width: 200px;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
}
.user-setting__login {
  display: none;
}
.user-setting,
.user-setting__login {
  cursor: pointer;
}
.user-setting:hover .dropOut {
  opacity: 1;
}
.drop-list li {
  display: block;
  position: relative;
  border-bottom: 1px solid #f2f5f8;
  line-height: 1.5;
  z-index: 6;
}
.drop-list li a {
  font-size: 0.875rem;
}

.drop-wrap {
  width: 200px;
  position: absolute;
  z-index: 100;
  margin-left: -80px; /* half of width */
  top: -400px;
  transition: all 0.2s ease;
}
.dropOut:before {
  content: '';
  position: absolute;
  height: 24px;
  width: 100%;
  background-color: transparent;
  top: -24px;
}
.dropOut {
  position: absolute;
  width: 200px;
  top: 45px;
  box-shadow: var(--shadow-sm);
  border-radius: 3px;
  right: 0;
  background: #fff;
  transition: all 0.1s ease-out;
}
.dropOut:after {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: 48px;
  width: 13px;
  height: 13px;
  background: #fff;
  border-top: 1px solid #f2f5f8;
  border-right: 1px solid #f2f5f8;
  transform: rotate(-45deg);
}

.dropOut .drop-list .drop-item {
  text-align: left;
  color: #777;
  border-radius: 4px;
  transition: all 0.1s ease-out;
}
.dropOut .drop-list .drop-item a {
  display: block;
  padding: 8px 16px;
}
.user-setting__login .dropOut .drop-list .drop-item span {
  display: block;
  padding: 8px 16px;
}
.dropOut .drop-list .drop-item span i {
  margin-right: 6px;
}

.dropOut .drop-list .drop-item:hover {
  background: #f6f6f6;
}
#chain {
  position: absolute;
  max-width: 1080px;
}
.service-contact {
  border-radius: 4px;
  max-width: 1080px;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.service-contact__wrap {
  padding: 3rem 16px;
  align-items: center;
}
.service-contact__title {
  font-size: 1.5rem;
  color: var(--white-color);
  line-height: 1.5;
  font-weight: 600;
}
.service-contact__desc {
  font-size: 0.875rem;
  color: var(--white-color);
  line-height: 1.5;
  font-weight: 400;
}
.service-contact__action {
  text-align: center;
}
.btns-ol.btns-ol__contact {
  height: 48px;
  padding: 0 48px;
  font-size: 1.2rem;
}

/* FAQ */
.service-faq {
  max-width: 1080px;
  margin: 5rem auto;
  padding: 0 16px;
}
.service-faq__img img {
  object-fit: contain;
}
.b-faq {
  margin: 5px auto;
}
.b-faq .faq__title {
  position: relative;
  display: block;
  padding: 13px 60px 15px 13px;
  margin-bottom: 2px;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  background-color: var(--gray-100);
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.faq__text {
  display: block;
  padding-left: 3rem;
}
.b-faq .faq__title:hover {
  background-color: var(--blue-100);
  transition: all 0.5s ease-out;
}
.b-faq .faq__active {
  background-color: var(--blue-200);
}
.b-faq .faq__title .faq__spoiler {
  position: absolute;
  top: 13px;
  /* right: 10px; */
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  color: var(--primary-color);
  line-height: 30px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 5px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.b-faq .faq__rotate {
  transform: rotate(225deg);
}
.b-faq .faq__content {
  padding: 20px;
  margin-bottom: 2px;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  display: none;
  background-color: var(--gray-100);
}
.b-faq .faq__symbol {
  font-weight: 700;
}
.service-hot {
  position: relative;
}
.service-hot::after {
  position: absolute;
  content: '';
  box-shadow: 0 0 0 0 #000;
  top: 16%;
  left: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 10px;
  position: absolute;
  padding: 3px;
  background-color: #ff5252;
  color: #fff;
  font-weight: 500;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 1px solid #ff5252;
}

.item.service-hot::after {
  box-shadow: 0 0 0 0 #ff5252;
  -webkit-animation: pulse-red 2s ease 0s infinite;
  animation: pulse-red 2s ease 0s infinite;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgb(255 82 82 / 70%);
  }

  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.info-company {
  display: flex;
  justify-content: space-between;
}
.info-company__media {
  display: flex;
  align-items: center;
}
.info-company__media img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 4px;
}
